[project]
name = "resume"
version = "0.1.0"
description = "Personal CV in LaTeX. This is a Python project to include pre-commit hooks and other tooling."
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "pre-commit>=4.3.0",
]
